.team-header {
    background-color: black;
    color: rgb(255, 255, 255);
}

.team-area {
    margin: 3em auto;
    flex-wrap: wrap;
    max-width: 1000px;
}

.employee-card {
    margin: 1em;
	max-width: 290px;
	width: 90%;
	min-height: 22rem;
	background-color: #316399;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: none;
}

.body {
    background-color: #347fcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
}